body {
  font-family: sans-serif;
  color: #076082;
}

h1, h2 {
  margin: 10px 0 10px 5%;
}

img {
  height: 36px;
}

section {
  width: 96%;
  margin: 5px auto;
  padding: 5px;
  background-color: #B3B9B0;
}

section:last-of-type {
padding-bottom: 15px;
}

/*style form elements*/

form {
  font-size: 1em;
}

label{
    display: inline-block;
    clear: left;
    width: 150px;
    text-align: right;
}
form input {
  display: inline-block;
  width: 220px;
  font-size: 1em;
  margin: 5px 5px 5px 10px;
}

#employeeFirstName, #employeeLastName {
  width: 250px;
}

#employeeTitle {
  width: 400px;
}

#employeeID {
  text-align: center;
  width: 90px;
}

#employeeSalary {
  text-align: right;
  width: 70px;
}

/*style buttons*/

.inputBtns {
  margin-top: -1%;
  margin-left: 63%;
}

.inputBtns input {
  margin: 5px;
  width: 200px;
  color: white;
  background-color: #076082;
}

.inputBtns input:hover {
  right: 5px;
  margin: 5px;
  width: 200px;
  color: white;
  background-color: #0f86b3;
  box-shadow: 4px 4px 2px grey;
}

.delBtn {
  display: inline-block;
  font-size: 1em;
  width: 100px;
  margin: 0 0 5px 0;
  color: white;
  background-color: #076082;
}

.delBtn:hover {
  width: 100px;
  color: white;
  background-color: #0f86b3;
  box-shadow: 4px 4px 2px grey;
}

/*style total payroll section*/

#monthlyPayroll {
  display: inline-block;
  text-align: right;
  padding: 5px;
  background-color: white;
  width: 100px;
  font-size: 1em;
  margin: 5px 5px 5px 10px;
}

/*style table and descendants*/

table {
  width: 98%;
  margin: auto;
  background-color: white;
}

table th {
    border-bottom: 2px solid #076082;
}

 tr th #deleteTD {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #B3B9B0;
}

.nameTD {
  width: 15%;
  padding-left: 1%;
}

.empIDTD {
  text-align: center;
  width: 10%;
}

.titleTD {
  padding-left: 1%;
  width: 42%;
}

.salaryTD {
  width: 10%;
  text-align: right;
padding-right: 1%;
}
.deleteTD {
  width: 10%;
  text-align: center;
  vertical-align: middle;
}

/*tooltips*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    font-style: italic;
    font-size: .75em;
    padding: 5px;
    line-height: 20px;
    background-color: 	#FFF8DC;
    color: #076082;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    top: 40px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
