h1 {
  color: slategrey;
  text-align: center;
}

#container {
  padding: 10px;
  margin: 30px;
}

.person {
  border-color: red;
  padding: 2px;
}

.clicked {
  border-color: red;
}

table {
  width: 95%;
  margin: auto;
  border: 1px solid darkslategrey;
}

tr {
  border-color: green;
}

section {
  width: 80%;
  margin: 2% auto;
  border: 1px solid darkslategrey;
  padding: 10px;
}

.deleteBox {
  text-align: center;
  vertical-align: middle;
}
